@model IndexViewModel
@{
    ViewData["Title"] = "Home";
}


@using (Html.BeginForm("FilterProducts", "Home", FormMethod.Post))
{
    @await Html.PartialAsync("FilterForm", Model)

    @Html.SubmitDivButtonBlock("Apply Filters")
}


<section class="main-section">
    <div class="container">

        @Html.SectionTitle("Internet Shop")

        <div class="row">
            <div class="list-group list-group-light">
                @foreach (var product in Model.Products)
                {
                    @Html.ProductLink(product)
                }
            </div>
        </div>

        <div class="row mt-5">
            @if (Model.IsFiltered)
            {
                <div class="alert alert-success" role="alert">
                    List was filtered!
                </div>
            }
        </div>
    </div>
</section>