@model WriteMessageViewModel

@{
    ViewData["Title"] = "Write Message";
}

<section class="main-section">
    <div class="container">
        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <form asp-controller="Home" asp-action="WriteMessage" method="post">
            <div class="form-group">
                <label asp-for="MessageText"></label>
                <textarea asp-for="MessageText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="MessageText" class="text-danger"></span>
            </div>

            <div class="text-center pt-5">
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </form>
    </div>
</section>