@page
@model Task_1.Pages.Subtask_2Model
@{
    ViewData["Title"] = "Subtask_2";
}

<h2>Subtask_2</h2>
<br />
<p><b>Conditions:</b> @Model.Conditions</p>
<br />

<div class="pairs-container">
    <div class="pair">
        <p class="item-left">Phrase:</p>
        <p class="item-right">@Model.Phrase</p>
    </div>
</div>