@model ProductViewModel
@{
    ViewData["Title"] = "Edit a Product";
}

<section class="main-section">
    <div class="container">

        <div class="section-title">
            <h2>@ViewData["Title"]</h2>
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Product.Id" />

            @await Html.PartialAsync("ProductForm", Model)

            <div class="text-center pt-5">
                <button class="btn btn-submit" type="submit">Save</button>
            </div>
        </form>

    </div>
</section>