@model ProductViewModel
@{
    ViewData["Title"] = "Edit a Product";
}

<section class="main-section">
    <div class="container">

        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Product.Id" />

            @await Html.PartialAsync("ProductForm", Model)

            @Html.SubmitDivButtonBlock("Save")
        </form>

    </div>
</section>