@model ProductListViewModel

<div class="list-group list-group-light">
    @foreach (var product in Model.PaginatedList.Items)
    {
        @Html.ProductLink(product)
    }
</div>

@await Html.PartialAsync("ProductPagination", Model.PaginatedList)