@page
@model Portfolio.Pages.CoursesModel
@{
    ViewData["Title"] = "Courses";
}

<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Courses</h2>
            <p>Все що ви отримаєте на моїх навчальних курсах</p>
        </div>

        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <h4 class="mb-4 text-center">Теоретична частина</h4>
                        <!-- List with bullets -->
                        <ul class="list-bullets">
                            <li class="mb-2">ПЕРМАНЕНТНИЙ МАКІЯЖ БРІВ (пудрова техніка)</li>
                            <li class="mb-2">ПЕРМАНЕНТНИЙ МАКІЯЖ ГУБ (контурування, акварельне, безконтурне)</li>
                            <li class="mb-2">ПЕРМАНЕНТНИЙ МАКІЯЖ ПОВІК (міжресничка)</li>
                            <li class="mb-2">КОЛОРИСТИКА + перекриття/виправлення старого татуажу</li>
                            <li class="mb-2">ВІДМАЛЬОВКА ЕСКІЗІВ</li>
                            <li class="mb-2">ПІДГОТОВКА РОБОЧОГО МІСЦЯ</li>
                            <li class="mb-2">КЛАСИФІКАЦІЯ ГОЛОК</li>
                            <li class="mb-2">ПІДБІР ОБЛАДНАННЯ ТА МАТЕРІАЛІВ ДЛЯ РОБОТИ</li>
                            <li class="mb-2">ОФОРМЛЕННЯ СТОРІНКИ</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <div class="card shadow mb-4">
                    <div class="card-body p-5">
                        <h4 class="mb-4 text-center">Практична частина</h4>
                        <!-- List with bullets -->
                        <ul class="list-bullets">
                            <li class="mb-2">ШТРИХИ</li>
                            <li class="mb-2">КОНТУРУВАННЯ</li>
                            <li class="mb-2">ПІКСЕЛЬ</li>
                            <li class="mb-2">ПІДБІР КОЛЬОРУ</li>
                            <li class="mb-2">ШТУЧНА ШКІРА</li>
                            <li class="mb-2">МОДЕЛІ</li>
                            <li class="mb-2">ПІДГОТОВКА ПЕРЕД СЕАНСОМ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="section-title">
                <p>Тривалість повного курсу 6 днів (3 дні теорії та 3 дні практики).<br />
                    Навчання відбувається на моїх матеріалах.<br />
                    6 днів - 600$<br />
                    1 зона 2 дні - 200$<br />
                    Після закінчення курсу ви отримуєте сертифікат та методичку з підказками + конспекти (які ми з вами напишемо).<br />
                    Ну і звісно моя підтримка у самостійному плаванні 🥰🥰))
                </p>
            </div>

            <div class="row justify-content-center mb-5">
                @if(Model.Files is not null){
                    
                    @foreach (var file in Model.Files)
                    {
                        <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-5" data-aos="zoom-in" data-aos-delay="100">
                            <img src="@file" class="img-fluid rounded-4 scale-up" alt="">
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</section>