@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home";
}



<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" style="padding-top:400px" data-aos="zoom-in" data-aos-delay="100">
        <div class="text-center">
            <h1 class="display-4">Welcome to</h1>
        </div>
        <h1 class="">Anastasia Lepetun</h1>
        <h2 class="">I'm a professional PM Master</h2>
        <a asp-page="/About" class="btn-about">About Me</a>
    </div>
</section>