@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    



    <youtube-video url="https://youtu.be/SBBWJ_c8piM?si=wNh0BWVq8hQQLOdS"></youtube-video>


    <link-to-action controller="Home" action="Index" target-blank="true">Перейти на головну сторінку</link-to-action>
</div>
