@model AboutProductViewModel

@{
    ViewData["Title"] = "About Product";
}

<section class="main-section">
    <div class="container">

        @await Component.InvokeAsync("SectionTitle")

        <div class="row">
            <div class="col-lg-9 pt-4 pt-lg-0 content fst-italic">
                @await Component.InvokeAsync("ProductInfo", Model)
            </div>

            <div class="row col-lg-3 justify-content-center">
                @if (User.IsInRole("Manager"))
                {
                    <div class="col-lg-8">
                        <a asp-controller="Home" asp-action="EditProduct" asp-route-id="@Model.Product.Id" class="btn btn-submit w-100 mb-2">Edit Product</a>
                        <a asp-controller="Home" asp-action="DeleteProduct" asp-route-id="@Model.Product.Id" class="btn btn-submit w-100">Delete Product</a>
                    </div>
                }
            </div>
            
        </div>

    </div>
</section>