<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AboutCSharp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About Language
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="advantages">
                <span class="oi oi-star" aria-hidden="true"></span> Advantages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areas">
                <span class="oi oi-aperture" aria-hidden="true"></span> Areas of Use
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apps">
                <span class="oi oi-excerpt" aria-hidden="true"></span> Popular Apps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makereview">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Make Review
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reviews">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Watch Reviews
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
