@model ProductViewModel
@{
    ViewData["Title"] = "Add Product";
}

<section class="main-section">
    <div class="container">

        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("ProductForm", Model)

            @Html.SubmitDivButtonBlock("Add")
        }

    </div>
</section>