@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p></p>

<section class="main-section">
    <div class="container">

        <div class="section-title">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="row">
            <p>
                All information in this site were taken from open sources. We do not own anything and make contribution from it.
            </p>
        </div>

    </div>
</section>