@page "/"

<PageTitle>CALCULATOR</PageTitle>

<section class="main-section">
    <div class="container">

        <div class="section-title">
            <h2>CALCULATOR</h2>
        </div>
        
        <CalculatorLayout/>

    </div>
</section>