@{
    ViewData["Title"] = "Additional Info";
}


<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Additional Info</h2>
            <p>Тут ви знайдете додаткову корисну інформацію, яка обов'язково знадобиться вам.</p>
        </div>

        <div class="section-title">
            <h3>Підготовка до процедур</h3>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-3 " data-aos="zoom-in" data-aos-delay="100">
                <img src="~/img/info/brows_before.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-3" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/info/eyelids_before.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-3" data-aos="zoom-in" data-aos-delay="300">
                <img src="~/img/info/lips_before.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>
        </div>

        <div class="section-title">
            <h3>Догляд після процедур</h3>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-2 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                <img src="~/img/info/brows_after.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-2 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <img src="~/img/info/eyelids_after.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>

            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-2 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <img src="~/img/info/lips_after.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>
        </div>

        <div class="section-title">
            <h3>Прайс</h3>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-lg-3 col-md-5 d-flex align-items-stretch mt-2 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                <img src="~/img/info/price.jpg" class="img-fluid rounded-4 scale-up" alt="">
            </div>
        </div>
    </div>
</section>