@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <label for="name">Name:</label>
            <input class="form-control form-control-sm" type="text" id="name" name="Name" />
        </div>
        <div class="col-lg-6">
            <label for="category">Category:</label>
            <input class="form-control form-control-sm" type="text" id="category" name="Category" />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <label for="brand">Brand:</label>
            <input class="form-control form-control-sm" type="text" id="brand" name="Brand" />
        </div>

        <div class="col-lg-3">
            <label for="minStockQuantity">Min Stock Quantity:</label>
            <input class="form-control form-control-sm" type="number" id="minStockQuantity" name="MinStockQuantity" />
        </div>
        <div class="col-lg-3">
            <label for="maxStockQuantity">Max Stock Quantity:</label>
            <input class="form-control form-control-sm" type="number" id="maxStockQuantity" name="MaxStockQuantity" />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <label for="minYearOfManufacture">Min Year of Manufacture:</label>
            <input class="form-control form-control-sm" type="number" id="minYearOfManufacture" name="MinYearOfManufacture" />
        </div>
        <div class="col-lg-6">
            <label for="maxYearOfManufacture">Max Year of Manufacture:</label>
            <input class="form-control form-control-sm" type="number" id="maxYearOfManufacture" name="MaxYearOfManufacture" />
        </div>
        <div class="col-lg-6">
            <label for="minPrice">Min Price:</label>
            <input class="form-control form-control-sm" type="number" id="minPrice" name="MinPrice" />
        </div>
        <div class="col-lg-6">
            <label for="maxPrice">Max Price:</label>
            <input class="form-control form-control-sm" type="number" id="maxPrice" name="MaxPrice" />
        </div>
    </div>



    <div class="row">
        <div class="col-lg-6">
            <label for="sortBy">Sort By:</label>
            <select class="form-control text-center form-control-sm" id="sortBy" name="SortBy">
                <option value="--None--">--None--</option>
                <option value="Name">Name</option>
                <option value="Category">Category</option>
                <option value="Brand">Brand</option>
            </select>
        </div>
        <div class="col-lg-6 text-center">
            <label for="sortDirection">Sort Direction:</label>
            <div class="row">
                <div class="col-lg-6">
                    <input type="radio" id="sortAscending" name="IsSortAscending" value="true" checked />
                    <label for="sortAscending">Ascending</label>
                </div>
                <div class="col-lg-6">
                    <input type="radio" id="sortDescending" name="IsSortAscending" value="false" />
                    <label for="sortDescending">Descending</label>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center pt-5">
        <button class="btn btn-submit" type="submit">Apply Filters</button>
    </div>
</form>


<section class="main-section">
    <div class="container">

        <div class="section-title">
            <h2>Library Of Books</h2>
        </div>

        <div class="row">
            <div class="list-group list-group-light">
                @foreach (var product in Model.Products)
                {
                    <a href="/Product/AboutProduct/@product.Id" class="list-group-item list-group-item-action px-3 border-0 text-center">@product.Name [by @product.Brand]</a>
                }
            </div>
        </div>

    </div>
</section>