@model ViewMessagesViewModel

@{
    ViewData["Title"] = "View Messages";
}

<section class="main-section">
    <div class="container">
        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        @if (Model.Messages != null && Model.Messages.Count > 0)
        {
            <ul>
                @foreach (var message in Model.Messages)
                {
                    <li>
                        <p><strong>From:</strong> @await Model.UserEmailGetter(message.UserId)</p>
                        <p><strong>Time:</strong> @Html.DateFormatter(@message.CreatedAt, "yyyy-MM-dd HH:mm:ss")</p>
                        <p>@message.Text</p>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No messages found.</p>
        }
    </div>
</section>