@model SignUpViewModel
@{
    ViewData["Title"] = "Create User";
}

<section class="main-section">
    <div class="container">

        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <div class="row">
            <form method="post">
                @await Html.PartialAsync("CreateUserForm", Model)
            </form>
        </div>

    </div>
</section>