@{
    ViewData["Title"] = "Dashboard";
}

<section class="main-section">
    <div class="container">
        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <div class="row">
            <ul>
                <li>
                    <div class="div-border">
                        <p style="margin:5px;">You will be logged out of your account.</p>
                        <a class="link-warning" asp-controller="Home" asp-action="Logout">Logout</a>
                    </div>
                    <br class="line-break" />
                </li>
                <li>
                    <div class="div-border">
                        <p style="margin:5px;">This action cannot be undone. All your data will be permanently deleted.</p>
                        <a class="link-danger" asp-controller="Home" asp-action="DeleteUser">Delete Account</a>
                    </div>
                    <br class="line-break" />
                </li>
            </ul>
        </div>
    </div>
</section>