@{
    ViewData["Title"] = "Delete account";
}

<section class="main-section">
    <div class="container">
        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <div class="row">
            <h3>Are you sure you want to delete your account?</h3>
            <form method="post" action="@Url.Action("ConfirmDeleteUser", "Home")">
                @Html.SubmitButton("Delete", "delete")
                @Html.SubmitButton("Cancel", "cancel")
            </form>
        </div>
    </div>
</section>