@{
    ViewData["Title"] = "Delete account";
}

<section class="main-section">
    <div class="container">
        <div class="section-title">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="row">
            <h3>Are you sure you want to delete your account?</h3>
            <form method="post">
                <button type="submit">Delete</button>
                <a asp-controller="Home" asp-action="Index">Cancel</a>
            </form>

        </div>
    </div>
</section>