@{
    ViewData["Title"] = "Logout";
}

<section class="main-section">
    <div class="container">
        @if (ViewData["Title"] is string title && !string.IsNullOrEmpty(title))
        {
            @Html.SectionTitle(title)
        }

        <div class="row">
            @{
                var buttons = new List<MyButton>
                {
                    new MyButton()
                    {
                        Text = "Logout",
                        Value = "logout"
                    },
                    new MyButton()
                    {
                        Text = "Cancel",
                        Value = "cancel"
                    }
                };
            }

            <vc:confirm-action header="Are you sure you want to logout?"
                               controller-name="Home" action-name="ConfirmLogout"
                               buttons="buttons" />
        </div>
    </div>
</section>